*
{
    margin: 0px;
    padding: 0px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#gameContainer
{
    display: flex;
    justify-content: center;
}

.chessboard, .chessboardColumn
{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.chessboard
{
    height: 80vh;
    width: 80vh;
}

.chessboardColumn
{
    flex: 1 1 0;
    flex-direction: column;
}

.chessboardSquare
{
    flex: 1 1 0;
}
