*
{
    margin: 0px;
    padding: 0px;
}

#header, #footer
{
    text-align: center;
}

#gameContainer
{
    display: flex;
    justify-content: center;
}

.chessboard, .chessboardColumn
{
    display: flex;
}

.chessboard
{
    height: 80vh;
    width: 80vh;
    justify-content: space-evenly;
    align-items: stretch;
}

.chessboardColumn
{
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-evenly;    
}

.chessboardSquare
{
    flex: 1 1 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 300%;
    user-select: none;
}
